.message {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  background-color:  rgba(54, 162, 235, 0.2);

  h4 {
    margin: 2px 0px 5px 2px;
  }

  .message-info {
    padding-left: 15px;

    .message-timestamp {
      color: gray;
      font-weight: 300;
      font-size: 13px;
      margin-left: 5px;
    }
  }
}
