.search-modal{
    width: 190px;
    display: flex;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    top: 50px;
    color: #000000;
    z-index: 5;

    

    .second-search{
       margin-left: 10px; 
       margin-top: 2px;
       border-radius: 5px;
       padding: 3px;

    //    &:hover{
    //        background-color: #fff;
    //    }
    }

}