.sign-up{

    color: black;
    max-width: 400px;
    padding: 30px;
    justify-content: center;
    margin: 20px auto auto;

    .user-icon{
        font-size: 54px;
        margin-left: 43%;
        color: #02024a;
     }

     .login-link{
        color: black;
    }

    .login-link:hover{
        color:#4285f4;
    }

  

}