.form {
  display: flex;
  border-radius: 5px;
  margin: 0 auto auto;
  background-color: #02024a;
  border: 1px solid lightgrey;

  .send{
    background-color: #02024a;
    color: #fff;
    border: none;
    border-radius: 2px;
  }

  button:hover{
    cursor: pointer;
    opacity: 0.7;
  }

  .input {
    border: none;
    border-radius: 0;
    width: 100%;
    padding-left: 5px;
  }

  .attachment {
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 50%;
    padding: 6px;
  }

  .attachment:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
