.chat {
  display: flex;
  color: black;
  flex-direction: column;

  // .chat-input{
  //   bottom: 0vh;
  //   margin: 0 auto auto;
  //   position: absolute;
  //   width: 86vh;
  //   z-index: 1;
  // }

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .header {
    padding: 3px;

    .header-info {
      margin-bottom: 10px;
      margin-left: 10%;
    }

    .header-right {
      margin-left: 10%;
    }

    .header-right > * {
      font-size: larger;
      padding: 6px;
      border-radius: 2px;
      cursor: pointer;
    }

    .header-right > *:hover {
      background-color: lightgray;
    }

    border-bottom: 1px solid lightgray;
  }

  .chat-body {
    display: flex;
    margin: 5px auto auto;
    padding: 2%;
    max-height: 70vh;
    overflow-y: scroll;

    .center-div {
      width: 80vh;
      justify-content: center;

      .chat-input {
        bottom: 0vh;
        position: absolute;
        width: 86vh;
        margin: 0 auto auto;
      }

      .recipient {
        margin-left: 53%;
      }

      .sender {
        margin-left: auto;
      }
    }

    p {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .chat {
    height: 100%;

    // .chat-input{
    //   width: 50vh;
    // }

    .chat-body {
      width: 70%;
      height: 100%;
      padding: 2px;

      .center-div {
        margin: 0 auto auto;

        .chat-input {
          bottom: 0vh;
          position: absolute;
          width: fit-content;
          margin: 0 auto auto;
        }

        .recipient {
          margin-left: 20%;
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .chat {
    .chat-body {
      width: 70%;
      padding: 2px;

      .center-div {
        margin: 0 auto auto;



        .chat-input {
          bottom: 0vh;
          position: absolute;
          width: 61%;
          margin: 0 auto auto;
        }

        .recipient {
          margin-left: 29%;
        }
      }
    }
  }
}
